* {
	margin: 0;
	padding: 0;
	border: 0;

	color: #FAF9F3;
	font-family: SegoeUI, Tahoma, Verdana, sans-serif;
}

body {
	background: url(images/bg.png) repeat-x #ac4500;
	font-size: 14px;
}

h1, h2, h3, h4, h5 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

h1 {
	font-size: 4em;
}

h2 {
	text-align: center;
	border-bottom: 3px solid white;

	padding-bottom: 2px;
	margin-bottom: 5px;

	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p {
	font-size: 14px;
	text-indent: 1em;
	text-align: justify;

	margin-bottom: 8px;
	line-height: 20px;
	word-spacing: -2px;
}

a {
	font-weight: bold;
}

address {
	font-size: 100%;
	margin-bottom: 8px;
}

.blok {
	width: 245px;

	margin: 20px 32px 20px 0px;
	float: left;
}

.last {
	margin-right: 0;
}

#content {
	width: 800px;

	margin: auto;
	margin-top: 50px;

}

#header {
	padding: 5px 10px;
	border-bottom: 5px solid white; /*#EFF7FF;*/
}

#motto {
	float: right;
	text-align: right;

	width: 350px;

	margin-top: 10px;
	margin-right: 10px;

	font-style: italic;
}

#footer {
	clear: both;
	border-top: 2px solid #C18039;
	padding-top: 4px;
}

#footer p {
	text-align: center;
}

#footer * {
	color: 	#C18039;
}

.bold {
	font-weight: bold;
}

.photo {
  border: 2px solid white;
}
